<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="AsyncTest"
          connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=AsyncTest;Integrated Security=SSPI;"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>